
.Nav{
  background-color: #61dafb;
  margin-top: 0px;
  padding-top: 0px;
  height: 50px;
}
.logright{
  text-align: right;
  margin-left: 1400px;
  margin-right: 15px;
  display: flex;
  margin-top: -10px;

}
.Navright{
  padding-right: 15px;
  text-align: right;
}
.Navright li{
  display: inline;
  padding: 10px;
  /* padding-top: 50px; */
}
.Nav ul{
  margin-top: auto;
  /* display:flex; */

}
.Navli{
  display:inline;
  padding: 10px;
  margin-top: 500px;
  
}
.logoimg{
  float: left;
  width: 50px;
  border-radius: 50%;
  margin-left: 15px;
  /* mix-blend-mode: multiply; */
}

.singup{
  text-align: center;
}

.singup input{
  padding: 10px;
  margin: 20px;
  width: 500px;
  border: 2px solid;
}

.singup button{
  padding: 10px;
  margin: 20px;
  width: 100px;
  background-color: orange;
  border: 2px solid;
}

.footer{
  color: #282c34;
  background-color: #61dafb;
  text-align: center;
  padding: 0px 0px 0px 0px;
  height: 60px;
  /* margin-bottom: 0px; */
}

.login{
  text-align: center;
}

.login input{
  padding: 10px;
  margin: 20px;
  width: 500px;
  border: 2px solid;
}

.login button{
  padding: 10px; 
  margin: 20px;
  width: 100px;
  background-color: orange;
  border: 2px solid;
  /* mix-blend-mode: multiply; */
}

.headAddpro{
  text-align: center;
}

.addproductinput{
  padding: 10px;
  margin: 20px;
  width: 500px;

}

.addproductinputV{
  color: red;
}

.addproductbutton{
  padding: 10px;
  margin: 20px;
  width: 100px;
  background-color: orange;
  border: 2px solid;

}

.P_heading{
  text-align: center;
}
.p_header{
  text-align: center;
  margin-top: 0px; 
}
.p_header ul{
  margin-top: -17px;
}

.p_header li{
  display: inline-block;
  border: 1px solid black;
  padding: 10px;
  width: 100px;
  
}
.updatepage{
  display: grid;
  justify-items: center;
}
/* .updatepageheader{
  text-align: center;
} */
.updatepage input{
  padding: 10px;
  width: 500px;
  margin: 20px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
