*{
  /* margin-top: 20px; */
  /* padding: 0px; */
 
}
/* .Nav {
  background-color: #61dafb;
  margin-top: 0px;
  padding-top: 0px;
  height: 50px;
  width: 100%;
} */

/* .logright {
  justify-content: end;
  margin-right: 30px;
  display: flex;
  /* align-items: center; 
  margin-top: -10px;

} */


/* 
.Nav ul {
  margin-top: auto;
  display:flex;

} */

/* .Navli {
  display: inline;
  padding: 10px;
  margin-top: 500px;

} */

.logoimg {
  float: left;
  width: 50px;
  border-radius: 50%;
  margin-left: 15px;
  margin-top: 17px;
  /* mix-blend-mode: multiply; */
}

.singup {
  text-align: center;
}

.singup input {
  padding: 10px;
  margin: 20px;
  width: 500px;
  border: 2px solid;
}

.singup button {
  padding: 10px;
  /* margin: 20px; */
  /* align-items: center; */
  width: 100px;
  background-color: orange;
  border: 2px solid;
}

.footer {
  color: #282c34;
  background-color: #61dafb;
  text-align: center;
  padding: 0px 0px 0px 0px;
  height: 60px;
  margin-bottom: 0px;
}

.login {
  text-align: center;
}

.login input {
  padding: 10px;
  margin: 20px;
  width: 500px;
  border: 2px solid;
}

.login button {
  padding: 10px;
  margin: 20px;
  width: 100px;
  background-color: orange;
  border: 2px solid;
  /* mix-blend-mode: multiply; */
}

.headAddpro {
  text-align: center;
}

.addproductinput {
  padding: 10px;
  margin: 20px;
  width: 500px;

}

.addproductinputV {
  color: red;
}

.addproductbutton {
  padding: 10px;
  margin: 20px;
  width: 100px;
  background-color: orange;
  border: 2px solid;

}

.P_heading {
  text-align: center;
  margin-top: 20px;
}

.p_header {
  text-align: center;
  display:flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;


}

.p_header li {
  display: inline-block;
  border: 1px solid black;
  /* padding: 10px; */
  /* width: 100px; */


}

.card{
  /* background-color: #fff5; */
  background-color: none;
  /* border: 1px solid black; */
  border-radius: 10px;
  height: 50vh;
  width: 20vw;
  margin-top: 30px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

@media (max-width: 600px) {
    .card {
        display: grid;
        grid-template-rows: 1fr 2fr;
        align-items: center;
        min-width: 300px;
    }
    .card-img-con{
      width:100%;
      height:100%;
      
    }

    .card-img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .card-content {
        text-align: center;
        padding: 20px 40px;
        font-size: 2.5vh;
        overflow: hidden;
    }
    footer{
      width: 580px;
    }
    h1{
     margin-left: 70px;
    }
    /* .submit{
     margin-left: 70vw;

    } */
}

@media (max-width: 850px) {
  .card {
      display: grid;
      grid-template-rows: 1fr 2fr;
      align-items: center;
      min-width: 300px;
  }
  .card-img-con{
    width:100%;
    height:100%;
    
  }

  .card-img {
      width: 280px;
      mergin-right: 2px;
      height: 100%;
      object-fit: cover;
  }

  .card-content {
      text-align: center;
      padding: 20px 40px;
      font-size: 2.5vh;
      overflow: hidden;
  }
}

.searchbox {
  display: grid;
  place-items: center;
  height: 45px;
  /* margin: 15px; */
}

.searchbox input{
  height: 30px;
  width: 300px;
  margin: 5px;
  padding: 5px;
  border: 1px solid #000;
}

.updatepage {
  display: grid;
  justify-items: center;
}

/* .updatepageheader{
  text-align: center;
} */
.updatepage input {
  padding: 10px;
  width: 500px;
  margin: 20px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}