
.Nav{
  background-color: #92a5cb;
  margin-top: 0px;
  padding-top: 0px;
  height: 50px;
}
.Nav ul{
  margin-top: auto;
  /* display:flex; */

}
.Nav li{
  display:inline;
  padding: 10px;
  background-color: #61dafb;
  height: 50px;
  /* margin-top: 50px; */
  
}

.singup{
  text-align: center;
}

.singup input{
  padding: 10px;
  margin: 20px;
  width: 500px;
  border: 2px solid;
}

.singup button{
  padding: 10px;
  margin: 20px;
  width: 100px;
  background-color: orange;
  border: 2px solid;
}

.footer{
  color: #282c34;
  background-color: #61dafb;
  text-align: center;
  padding: 0px 0px 0px 0px;
  height: 60px;
  /* margin-bottom: 0px; */
}

.login{
  text-align: center;
}

.login input{
  padding: 10px;
  margin: 20px;
  width: 500px;
  border: 2px solid;
}

.login button{
  padding: 10px; 
  margin: 20px;
  width: 100px;
  background-color: orange;
  border: 2px solid;
  /* mix-blend-mode: multiply; */
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
